.add-wrap {

}
.add-inner {
  position: relative;
  width: 100px;
  margin: 0 auto 40px;
}
.add-inner:hover > .add-text-wrap {
  transform: scaleX(1);
}
.add-inner:hover > .btn-control {
  animation: rotate 2s ease-in infinite alternate;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-control {
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
  border: 10px solid #1a889a;
  border-radius: 50%;
  background-color: green;
  cursor: default;
  z-index: 10;
}
.add-text-wrap {
  position: absolute;
  top: 20px;
  left: 90px;
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 0 10% 10% 0;
  background-color: green;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform .5s ease-in;
}
.text {

}
.btn-add {
  font-size: 24px;
  line-height: 60px;
  margin-right: 10px;
  float: right;
}
.btn-add:hover {
  color: red;
}
