@value hackGreen, hackBlue from '../../../common.css';

.icon-wrap {
  display: inline-block;
  position: relative;
}
.icon-wrap [class^='icon-'] {
  position: absolute;
  left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
}
.icon-up {
  top: -18px;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent hackGreen transparent;
}
.icon-up:active {
  border-color: transparent transparent hackBlue transparent;
}
.icon-down {
  top: -5px;
  border-width: 10px 6px 0 6px;
  border-color: hackGreen transparent transparent transparent;
}
.icon-down:active {
  border-color: hackBlue transparent transparent transparent;
}
