.admin-wrap,
.sildebar-wrap {
  height: 100vh;
  padding: 100px 0;
}
.sildebar-wrap {
  width: 300px;
  float: left;
  background-color: #aaa;
}
.admin-wrap {
  margin-left: 300px;
  background-color: #fff;
}