.home-page .nav-details-item.article-search-block {
  height: 100%;
}
.article-search-block .ant-pagination  {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
