.admin-article-post-wrap {
  width: 800px;
  margin: 0 auto;
}
.field:not(:last-child) {
  display: flex;
  margin-bottom: 10px;
}
.title {
  width: 100px;
}
.article-post-form {

}
.article-post-form [class^="inp-"],
.article-post-form [class^="select-"] {
  flex: 1;
}
.article-post-form [class^="inp-"],
.article-post-form [class^="select-"],
.article-post-form [class^="btn-"],
.textarea {
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}
.textarea {
  width: 100%;
  min-height: 500px;
  padding: 20px;
}
.btn-submit {
  width: 50px;
  float: right;
}

/* tile uploaded pictures */
.ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
