@value hackGreen from '../../../common.css';

/* sprite-loader-enable */
.article-page {

}
.nav-move-list {
  position: fixed;
  right: 30px;
  top: 30px;
}
/* header开始 */
.header {
  min-width: 600px;
  padding: 10px 200px;
}

/*
// === 圣杯布局：两边两栏宽度固定，中间栏宽度自适应。在HTML结构上中间栏在最前面保证了最先渲染中间提升性能 === //
// === 1.html结构是main先写，宽度为100%；再写left与right,宽度固定 === //
// === 2.三者都浮动，left块通过margin-left为-100%去到了main左边并覆盖，right块通过margin-left为-width去到了main右边并覆盖 === //
// === 3.此时有可能main块中内容去到了left和right块下，被覆盖，因为三者都浮动了，没有了文字环绕效果；所有需要为父元素设置padding来为left块和right块腾出位置 === //
// === 4.通过position:relative的left和right分别将left块和right块移到padding区域 === //
// === 5.需要为父容器设置min-width为left-width * 2 + right-width; 因为left块发生了相对位移，但原来地方还占着空间，所有当父容器宽度小于Min-width值时left块和right块就会挤到下一行 === //
*/
.header-location {
  float: left;
  width: 200px;
  margin-left: -100%;
  position: relative;
  left: -200px;
}
.header-search {
  width: 100%;
  position: relative;
  float: left;
}
.header-control {
  float: left;
  width: 200px;
  margin-left: -200px;
  position: relative;
  right: -200px;
}
/* header结束 */


/* 文章开始 */

/*
// === 双飞翼布局：与圣杯布局解决的问题相同 === //
// === 思路：在圣杯布局的基础上，用的是margin而非padding来腾出位置，不过main块多了一层dom，因为设置了宽度100%再设置margin就会超出总宽度；=== //
// === 优点：不用position，也不用min-width === //
*/
.container {
  min-width: 320px;
  width: 100%;
  /*max-width: 1000px;*/
  /*margin: 0 auto;*/
  /*padding: 30px;*/
  overflow: hidden;
}
.main-block,
.aside,
.nav {
  float: left;
}
.aside {
  width: 200px;
  margin-left: -100%;
}
.main-block {
  width: 100%;
}
.main-inner {
  margin: 0 200px
}
.nav {
  width: 200px;
  margin-left: -200px;
}


.article {
  margin: 30px 0;
}
.article-tt {
  font-size: 32px;
  text-align: center;
}
.comment-section {
  margin-bottom: 10px;
  overflow: hidden;
}

.article-desc-list {
  border: 20px solid;
  border-image: url(./aside-border-img.png) 20 / 12px round;
  background-color: #464141;
}

/*
// === 两栏布局之float： === //
// === float都左浮动，并以百分比来控制宽度 === //
*/
.article-desc-item {
  float: left;
  width: 50%;
}
.article-desc-item:last-child {
  width: 100%;
}

/* reset article content start */
.article strong {
  color: #1a889a;
}
.article p {
  line-height: 3;
}
.article img {
  padding: 20px;
  box-shadow: 0 0 10px 0 inset;
  margin: 20px 0;
}
.article h2 {
  font-size: 24px;
  line-height: 3;
}
.article h3 {
  font-size: 20px;
}
.article pre {
  color: #4caf50;
  margin: 5px 0;
  border: 20px solid;
  border-image: url(./code-border-img.png) 20 / 12px round;
  background-color: #464141;
}
.article hr {
  margin: 20px 0;
  border-color: hackGreen;
}
/* reset article content end */


/* 评论区开始 */
.comment-info {
  float: right;
}

/* 发表评论开始 */
.area-textarea {
  width: 100%;
  min-height: 54px;
  border: 1px solid;
}
.form-field {
  margin-bottom: 10px;
}
.btn-isMemoried {
  margin-left: 5px;
}
