.general-catalogue-wrap {
  margin: 0 50px;
}

.select {

}

.table-hd {
  font-size: 20px;
}
.table-tr {
  display: flex;
}
.table-td {
  flex-basis: 16.6%;
}

.table-tr:nth-of-type(2n-1) {
  background-color: #3a0828;
}

