.general-catalogue-wrap {
  margin: 0 50px;
}

.select {

}

.table-hd {
  font-size: 20px;
}
.table-hd > .table-tr {
  background-color: #3a0828;
}
.table-tr {
  display: flex;
}
.table-td {
  flex-basis: 16.6%;
}
.table-bd .table-tr {
  border-bottom: 2px solid;
}

