.hide-font {
  color: transparent;
}
.hide {
  visibility: hidden;
}
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.upload-wrap {
  position: relative;
  width: 400px;
  height: 200px;
  text-align: center;
  background-color: darkgray;
}
.upload-wrap:hover::before {
  color: #ccc;
  transition: color .5s;
}
.upload-wrap:hover .upload-tips {
  outline: 2px dashed #ccc;
  transition: outline .5s;
}
.upload-wrap::before {
  content: '一次最多上传10张';
  position: absolute;
  left: 3px;
  top: 15px;
  width: 12px;
  font: 100 12px/20px 'Serif';
  color: #fff;
}
.upload-img-list {
  margin: 0;
  padding: 0;
  /* reset */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 23px;
  left: 30px;
  width: 342px;
  height: 150px;
}
.upload-img-item {
  list-style-type: none;
  position: relative;
  height: 40px;
  margin: 14px;
}
.upload-progress {
  position: absolute;
  left: 5px;
  top: 41px;
  font-size: 10px;
  color: #fff;
  opacity: .5;
}

.btn-delete {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 12px;
  height: 12px;
  font: 12px/1 '';
  color: #fff;
  border: 1px solid currentColor;
  border-radius: 50%;
  opacity: 0;
}
.upload-img-item:hover .upload-img {
  opacity: .3;
  transition: opacity .5s;
}
.upload-img-item:hover .btn-delete{
  opacity: 1;
  cursor: pointer;
  transition: color, opacity .5s;
}
.upload-tips {
  font: italic 36px/200px 'Arial';
  letter-spacing: 5px;
  outline: 2px dashed #fff;
  outline-offset: 60px;
}
.upload-inp-wrap {
  display: none;
}
.upload-btn-wrap {
  position: absolute;
  bottom: 0;
  left: 158px;
}
.btn-reset,
.btn-retry {
  color: #ccc;
  border: none;
  background-color: transparent;
}