/* =======================User======================= */

.home-page {
  min-width: 320px;
  max-width: 641px;
  margin: 0 auto;
}

/* 导航 */
.main {
  height: 75vh;
  border: 1px solid currentColor;
}
.nav-tabs {
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to right, transparent 0%, #00F900 50%, transparent 100%);
}
.nav-item {
  display: inline-block;
  width: 25%;
}
.nav-title {
  font-size: 18px;
  color: #00F900;
}

/*
// === 隐藏滚动条： === //
// === 1 html为三层结构：outer > inner > container，其中container为内容高度可能很大的区域 === //
// === 2 outer, container 宽度一致，outer 要溢出隐藏，inner要overflow-x隐藏，overflow-y滚动 === //
// === 3 可给inner::-webkit-scrollbar设置display:none来通过css属性隐藏 === //
 */
.nav-details-item {
  width: 639px;
  height: calc(75vh - 36px);
  overflow: hidden;
}
.nav-details-inner {
  height: calc(75vh - 36px);
  width: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.nav-details-inner::-webkit-scrollbar {
  display: none;
}
.article-list {
  width: 639px;
}

/* =======================Admin======================= */
.admin-wrap,
.sildebar-wrap {
  height: 100vh;
  padding: 50px 0;
}

/*
// === 两栏布局之 float + margin: === //
// === 思路：左边定宽浮动, 右边通过设置margin-left并且大于或等于左边的宽度，使得左边浮动元素漂浮在右边元素的margin上，从而不影响内容的显示 === //
// === 注意点： === //
// === 1.左边定宽 === //
// === 2.右边margin-left值大于等于左边宽度 === //
*/
.sildebar-wrap {
  width: 300px;
  float: left;
  background-color: #aaa;
}
.admin-wrap {
  margin-left: 300px;
  background-color: #fff;
  overflow-x: auto;
}
