.admin-info-page {
  /*height: 100vh;*/
  /*background-color: #fff;*/
}

.section:not(:last-child) {
  /*min-width: 600px;*/
  /*margin-left: 400px;*/
  /*margin-right: 100px;*/
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

/*
// === 两栏布局之flex： === //
// === 思路：表现为flex布局后，右边通过flex为1自适应伸缩 === //
// === 注意点： === //
// === 1.左边宽度不是不必须的 === //
// === 2.当缩小到一定宽度时，左边不会像之前那样让内容溢出，而是整体缩小 === //
*/
.field {
  display: flex;
  margin-bottom: 20px;
}
.title {
  width: 80px;
}
.img,
.input,
.select,
.section [class^='btn-']{
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}
/* section--avator */
.section--avator {
  composes: section;
}
.title {
  display: inline-block;
}
.img {
  display: inline-block;
  width: 200px;
  height: 150px;
}

/* section--info */
.section--info {
  composes: section;
}
.select:not(:last-of-type) {
  margin-right: 20px;
}
.btn-submit {
  margin-right: 20px;
}

/* section--account */
.section--account {
  composes: section;
}

/* section--spwd */
.section--spwd {
  composes: section;
}